/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
@media screen and (max-width: 768px) {
	/* line 7, ../../sass/hamburgers/_base.scss */
	.hamburger {
		padding: 15px 15px;
		display: inline-block;
		cursor: pointer;
		transition-property: opacity, filter;
		transition-duration: 0.15s;
		transition-timing-function: linear;
		font: inherit;
		color: inherit;
		text-transform: none;
		background-color: transparent;
		border: 0;
		overflow: visible;
	}
	/* line 25, ../../sass/hamburgers/_base.scss */
	.hamburger:hover {
		opacity: 0.7;
	}

	/* line 35, ../../sass/hamburgers/_base.scss */
	.hamburger-box {
		width: 40px;
		height: 24px;
		display: inline-block;
		position: relative;
	}

	/* line 42, ../../sass/hamburgers/_base.scss */
	.hamburger-inner {
		display: block;
		top: 50%;
		margin-top: -2px;
	}
	/* line 47, ../../sass/hamburgers/_base.scss */
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 40px;
		height: 4px;
		background-color: #FFF;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
	}
	/* line 60, ../../sass/hamburgers/_base.scss */
	.hamburger-inner::before, .hamburger-inner::after {
		content: "";
		display: block;
	}
	/* line 66, ../../sass/hamburgers/_base.scss */
	.hamburger-inner::before {
		top: -10px;
	}
	/* line 70, ../../sass/hamburgers/_base.scss */
	.hamburger-inner::after {
		bottom: -10px;
	}

	/* line 76, ../../sass/hamburgers/_base.scss */
	.hamburger--elastic .hamburger-inner {
		top: 2px;
		transition-duration: 0.4s;
		transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	/* line 81, ../../sass/hamburgers/_base.scss */
	.hamburger--elastic .hamburger-inner::before {
		top: 10px;
		transition: opacity 0.15s 0.4s ease;
	}
	/* line 86, ../../sass/hamburgers/_base.scss */
	.hamburger--elastic .hamburger-inner::after {
		top: 20px;
		transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	/* line 93, ../../sass/hamburgers/_base.scss */
	.hamburger--elastic.is-active .hamburger-inner {
		transform: translate3d(0, 10px, 0) rotate(135deg);
		transition-delay: 0.1s;
	}
	/* line 99, ../../sass/hamburgers/_base.scss */
	.hamburger--elastic.is-active .hamburger-inner::before {
		transition-delay: 0s;
		opacity: 0;
	}
	/* line 104, ../../sass/hamburgers/_base.scss */
	.hamburger--elastic.is-active .hamburger-inner::after {
		transform: translate3d(0, -20px, 0) rotate(-270deg);
		transition-delay: 0.1s;
	}
}
/*
 * Elastic
 */