<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>inscription</servlet-name>
		<servlet-class>com.intranet.servlets.Inscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>inscription</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>accueil</servlet-name>
		<servlet-class>com.intranet.servlets.Accueil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>accueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>page</servlet-name>
		<servlet-class>com.intranet.servlets.Page</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>page</servlet-name>
		<url-pattern>/page</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>connexion</servlet-name>
		<servlet-class>com.intranet.servlets.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deconnexion</servlet-name>
		<servlet-class>com.intranet.servlets.Deconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>testjdbc</servlet-name>
		<servlet-class>com.intranet.servlets.GestionTestJDBC</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/stylesheets/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/javascripts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/fonts/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.intranet.config.InitialisationDaoFactory
		</listener-class>
	</listener>
</web-app>